<?xml version="1.0"?>
<launch>

    <!-- ######### Enable the automatic change to new dataset ########### -->
    <arg name="autorun" default="0" />

    <!-- log direction for the vis aid -->
    <arg name="exp_log_dir" default="/home/$(env USER)/" />

    <!-- ######### Choose the dataset ################################### -->
    <!-- <arg  name="bag_file"  default="/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PublishedSequences/ntu_day_01/*.bag"/> -->
    <arg  name="bag_file"  default="/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PublishedSequences/ntu_night_04/*.bag"/>

    <!-- <arg name="bag_file" default = "/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PublishedSequences/kth_day_06/*.bag" /> -->
    <!-- <arg name="bag_file" default = "/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PublishedSequences/tuhh_day_03/*.bag" /> -->

    <!-- Chose the config file based on the sequence names -->
    <arg name="config_path" value="$(find vins)/../config/mcdviral/mcdviral_atv/" if="$(eval 'ntu_'  in bag_file)" />
    <arg name="config_path" value="$(find vins)/../config/mcdviral/mcdviral_hhs/" if="$(eval 'kth_'  in bag_file)" />
    <arg name="config_path" value="$(find vins)/../config/mcdviral/mcdviral_hhs/" if="$(eval 'tuhh_' in bag_file)" />

    <!-- VINS node -->    
    <node respawn="true" pkg="vins" type="vins_node" name="vins_estimator"
          args="$(arg config_path)/viral_stereo_imu_config.yaml" output="screen">
    </node>

    <!-- Loop fusion -->
    <node respawn="true" pkg="loop_fusion" type="loop_fusion_node" name="loop_fusion"
          args="$(arg config_path)/viral_stereo_imu_config.yaml" output="screen">
          <param name="pose_graph_save_path" value="$(arg exp_log_dir)/vins_ba_"/>
    </node>

    <!-- Visualization node -->
    <node pkg="rviz" type="rviz" name="rviz" respawn="true"
          args="-d $(arg config_path)/../rviz_mcdviral.rviz" />

    <!-- Static transform for vizualization -->
    <node pkg="tf" type="static_transform_publisher" name="world_vio_init_pub" args="0 0 0 0 0 0 1 world vio_init 1" />

    <!-- ######### Play the dataset ###################################### -->
    <param name="/use_sim_time" value="true" />
    <node required="$(eval autorun != 0)" pkg="rosbag" type="play" name="rosbag_player"
          args="$(arg bag_file) -r 1.0 -s 0"
          launch-prefix="bash -c 'sleep 1; $0 $@' "/>

</launch>